{{header}} {{column_left}}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="form-inline pull-right">
                <a href="{{cancel}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{heading_title}} {{version}}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li>
                    <a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i> {{text_edit}}</h3>
            </div>
            <div class="panel-body">
                <style>
                    a#button-menu{
                        -webkit-appearance: none!important;
                    }
                    .welcome {
                        background: url('view/image/d_blog_module/bg.svg');
                        background-position: bottom;
                        background-repeat: repeat-x;
                        background-size: 100%;
                        min-height: 1025px;
                        padding-top: 50px;
                        padding-bottom: 32%;
                    }

                    .welcome-into {
                        text-align: center;
                        max-width: 500px;
                        margin: auto;
                    }

                    .welcome-into-logo {
                        padding-bottom: 15px;
                    }

                    .welcome-into-heading {
                        font-size: 30px;
                        font-weight: bold;
                        padding-bottom: 15px;
                    }

                    .welcome-into-text {
                        font-size: 18px;
                        padding-bottom: 30px;
                    }

                    .welcome-into-start {
                        padding-bottom: 30px;
                    }

                    .welcome-features {
                        padding: 30px;
                    }

                    .welcome-features-icon {
                        padding: 20px;
                        height: 130px;
                        text-align: center;
                    }

                    .welcome-features-text {
                        text-align: center;
                        font-weight: bold;
                        font-size: 16px;
                    }

                    .panel .panel-body {
                        padding: 0px;
                    }

                    .welcome-demo-checkbox {
                        padding: 10px;
                    }

                    .icon-blog {
                        height: 100px;
                    }
                </style>
                <div class="welcome">
                    <div class="welcome-into">
                        <div class="welcome-into-logo">
                            <img src="view/image/d_blog_module/main_icon_d_blog_module.svg" />
                        </div>
                        <div class="welcome-into-heading">{{text_welcome_title}}</div>
                        <div class="welcome-into-text">{{text_welcome_description}}</div>

                        <div class="welcome-into-start">
                            <a class="btn btn-primary btn-lg addSetting">{{button_setup}}</a>
                            <form class="welcome-demo-checkbox demo-data">
                                <input type="hidden" name="demo_data" value="0">
                                <input type="checkbox" name="demo_data" value="1" class="form-check-input" id="install-demo">
                                <label class="form-check-label" for="install-demo">{{checkbox_setup}}</label>
                            </form>
                        </div>
                    </div>
                    <div class="welcome-features">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="welcome-features-icon">
                                    <img class="icon-blog" src="view/image/d_blog_module/fullstack_d_blog_module.svg" />
                                </div>
                                <div class="welcome-features-text">{{text_welcome_visual_editor}}</div>
                            </div>
                            <div class="col-md-3">
                                <div class="welcome-features-icon">
                                    <img class="icon-blog" src="view/image/d_blog_module/powerful_d_blog_module.svg" />
                                </div>
                                <div class="welcome-features-text">{{text_welcome_building_blocks}}</div>
                            </div>
                            <div class="col-md-3">
                                <div class="welcome-features-icon">
                                    <img class="icon-blog" src="view/image/d_blog_module/awesome_layout_d_blog_module.svg" />
                                </div>
                                <div class="welcome-features-text">{{text_welcome_mobile_ready}}</div>
                            </div>
                            <div class="col-md-3">
                                <div class="welcome-features-icon">
                                    <img class="icon-blog" src="view/image/d_blog_module/dozens_d_blog_module.svg" />
                                </div>
                                <div class="welcome-features-text">{{text_welcome_increase_sales}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).on('click', '.addSetting', function(){
        var data = $('.demo-data').serialize();
        $.ajax( {
            type: 'post',
            url: '{{quick_setup}}',
            data: data,
            dataType: 'json',
            beforeSend: function() {
                $('#form').fadeTo('slow', 0.5);
            },
            complete: function() {
                $('#form').fadeTo('slow', 1);
            },
            success: function( json ) {
                location.href = json.redirect;

            }
        });

    })
</script>
{{footer}}