<div class="{{ setting.global.additional_css_class }}" style="{{ styles }}">
    <div class="bm">
        {% if setting.global.title %}
            <div class="h2">{{ setting.global.title }}</div>
        {% endif %}
        <div class="bm-posts">
            <div class="bm-grid bm-grid">
                <div class="row">
                    {% for post in setting.user.posts %}
                    {% if post.row %}
                        </div><div class="row">
                    {% endif %}
                    <div class="bm-grid-item col-sm-{{post.col}}" {% if post.animate %}animate="{{post.animate}}"{% endif %}>
                        <div class="bm-grid-item-body animated">
                            {% include template('extension/d_blog_module/post_thumb') with post %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>